@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Señor(a)</h1>
    <p>Aprenda a crear sitios Web con ASP.NET Core en <a href="https://docs.microsoft.com/aspnet/core">Microsoft</a>.</p>
</div>
